<div class="search toggle-wrap">
	<div class="toggle-search"></div>
	<div class="toggle_cont">
		<div id="search">
			<input type="text" name="search" value="<?php echo $search; ?>" placeholder="<?php echo $text_search; ?>"  />
			<button type="button" class="button-search"><!--<span><?php echo $text_search; ?></span>-->
			</button>
			<i class="closebtn"></i>
		</div>
	</div>
</div>